:root {
  --primary-text-color: rgba(33, 33, 33, 1);
  --secondary-text-color: rgba(117, 117, 117, 1);
  --accent-color: rgba(33, 150, 243, 1);
  --primary-white-color: rgba(255, 255, 255, 1);
  --secondary-section-color: rgba(245, 244, 250, 1);
  --slave-bcg-color: rgba(47, 48, 58, 1);
  --contacts-footer: rgba(255, 255, 255, 0.6);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);

  background-color: var(--primary-white-color);
}

.list {
  padding: 0;
  margin: 0;

  list-style-type: none;
}

.accent {
  color: var(--accent-color);
}

.secnd-section-color {
  background-color: var(--secondary-section-color);
}

.flex {
  display: flex;
}

.hrznt-cent {
  align-items: center;
}

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section.cut-top {
  padding-top: 0;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.main-header {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}

.main-manu {
  display: flex;
  margin-left: 93px;
}

.main-manu .link + .link {
  margin-left: 50px;
}

.address-nav {
  display: flex;
  margin-left: auto;
}

.address-nav > .address-link + .address-link {
  margin-left: 50px;
}

.main-menu-link {
  display: inline-flex;
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  text-decoration-line: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-menu-link:hover,
.main-menu-link:focus {
  color: var(--accent-color);
}

.main-menu-link::after {
  position: absolute;
  display: block;
  content: '';
  height: 4px;
  width: 100%;
  background-color: var(--accent-color);
  border-radius: 2px;
  opacity: 0;
  transform: translateY(0px);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-menu-link:hover::after,
.main-menu-link:focus::after {
  position: absolute;
  display: block;
  content: '';
  height: 4px;
  width: 100%;
  background-color: var(--accent-color);
  border-radius: 2px;
  opacity: 1;
  transform: translateY(29px);
}

.current {
  color: var(--accent-color);
}

.current::before {
  position: absolute;
  display: block;
  content: '';
  height: 4px;
  width: 100%;
  background-color: var(--accent-color);
  border-radius: 2px;
  transform: translateY(45.5px);
}

.logo,
.logo-footer {
  text-decoration-line: none;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.17;
  color: var(--primary-text-color);
}

.logo-footer {
  display: block;
  margin-bottom: 20px;
}

.logo-white {
  color: var(--primary-white-color);
}

.mail-icon {
  fill: currentColor;
  margin-right: 10px;
}

.phone-icon {
  fill: currentColor;
  margin-right: 10px;
}

.contacts-header {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  text-decoration-line: none;
  font-weight: 500;
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-header:hover,
.contacts-header:focus {
  color: var(--accent-color);
}

.contacts-footer {
  text-decoration-line: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--contacts-footer);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-footer:hover,
.contacts-footer:focus {
  color: var(--accent-color);
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero-bkg.jpg'),
    linear-gradient(to right, rgba(196, 196, 196, 1), rgba(196, 196, 196, 1));
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.hero-button {
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: rgba(24, 140, 232, 1);
}

/* MODAL WINDOW */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form {
  display: flex;
  flex-direction: column;
  width: 448px;
  margin-left: auto;
  margin-right: auto;
}

.modal-title {
  margin: 0;
  margin-bottom: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.modal-button-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  fill: var(--primary-text-color);
  border-radius: 50%;
  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-close:hover,
.modal-button-close:focus {
  fill: var(--accent-color);
}

.form-list {
  margin: 0;
  padding: 0;
}

.form-field {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-field:nth-last-child(2) {
  margin-bottom: 20px;
}

.form-field:last-child {
  margin-bottom: 30px;
}

.icon-modal {
  position: absolute;
  top: 65%;
  left: 14px;
  transform: translateY(-50%);
  fill: var(--primary-text-color);
  display: inline-block;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:focus-within > .icon-modal {
  fill: var(--accent-color);
}

.form-label {
  margin-bottom: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: var(--secondary-text-color);
}

.form-field.policy {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.modal--input {
  width: 448px;
  height: 40px;
  margin: 0;
  padding: 0px 11px 0px 42px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal--input:focus {
  border-color: var(--accent-color);
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-modal-checkbox {
  display: block;
  content: '';
  margin-right: 7px;

  border: 1.78px solid #2a2a2a;
  border-radius: 1.78px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:hover + .icon-modal-checkbox {
  border-color: var(--accent-color);
}

.checkbox:checked + .icon-modal-checkbox {
  background-size: contain;
  background-origin: border-box;
  border-color: var(--accent-color);
  background-color: var(--accent-color);
}

/* .checkbox:checked .icon-modal-checkbox {
  content: '';
  background-image: url('../images/icons.svg#.icon-checkbox-check');
} */

.comment {
  width: 100%;
  height: 120px;

  outline: none;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  padding: 12px 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment:focus {
  border-color: var(--accent-color);
}

.policy .checkbox {
}

.policy-label {
  display: flex;
  align-items: center;
  margin-left: 7px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

.policy-link {
  margin-left: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;

  color: var(--accent-color);
}

.modal-button-submit {
  min-width: 200px;
  min-height: 50px;
  margin: 0 auto;
  padding: 10px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-submit:hover,
.modal-button-submit:focus {
  background-color: rgba(24, 140, 232, 1);
}
/* SECTION ОСОБЕННОСТИ */

.vision-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.vision-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--secondary-section-color);
  border-radius: 4px;
}

.vision-icon {
  padding: 0;
}

.our-vision-list-item {
  margin: 15px;
  width: 270px;
}

.vision-description {
  margin: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.activities {
  display: flex;
}

.activities-item + .activities-item {
  margin-left: 30px;
}

.no-gap {
  display: block;
}

.img-box {
  display: flex;
  position: relative;
}

.activities-item .info-box {
  bottom: 0;

  padding: 24px;

  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  min-width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.activities-item .img-text {
  display: block;
  margin: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

.filter {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.filter-item + .filter-item {
  margin-left: 8px;
}

.filter-button {
  text-decoration: none;

  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;

  letter-spacing: 0.03em;
  color: var(--primary-text-color);

  background-color: var(--secondary-section-color);
  border: 0px;
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0), 0px 1px 2px rgba(0, 0, 0, 0),
    0px 2px 2px rgba(0, 0, 0, 0);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-portfolio {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.project-card {
  margin: 15px;
  width: 370px;
  height: 404px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0), 0px 4px 4px rgba(0, 0, 0, 0),
    1px 4px 6px rgba(0, 0, 0, 0);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link {
  display: block;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.project-card .img-box {
  overflow: hidden;
}

.project-card:focus,
.project-card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-card .text-box {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card .project-link:focus .text-box,
.project-card .project-link:hover .text-box {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(0%);
}

.project-img {
  max-width: 100%;
  height: auto;
}

.project-card .text {
  margin: 0;

  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.project-tag {
  text-decoration-style: none;
  padding: 20px 24px 20px 24px;

  border-left: 1px solid rgba(238, 238, 238, 1);
  border-right: 1px solid rgba(238, 238, 238, 1);
  border-bottom: 1px solid rgba(238, 238, 238, 1);
}

.project-name {
  color: var(--primary-text-color);
  margin: 0px 0px 4px 0px;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-category {
  margin: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.vision-title {
  margin-top: 0;
  margin-bottom: 10px;

  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.crew-card {
  width: 270px;
  margin: 15px;

  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.crew {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.crew-tag {
  padding-top: 30px;
  padding-bottom: 30px;

  flex-direction: column;
}

.crew-name {
  margin-top: 0;
  margin-bottom: 10px;

  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.crew-job {
  margin: 0 0 16px 0;

  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.crew-buttons {
  justify-content: center;
  padding: 0;
  align-items: center;
}

.crew-buttons .crew-link + .crew-link {
  margin-left: 10px;
}

.crew-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  width: 44px;
  height: 44px;
  background-color: var(--primary-white-color);
  border: 0;
  border-radius: 50%;
  fill: rgba(175, 177, 184, 1);
  background-position: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.crew-button:hover,
.crew-button:focus {
  background-color: var(--accent-color);
  fill: var(--primary-white-color);
}

.crew-btn-icon {
  margin: 0;
  padding: 0;
  object-fit: contain;
}

.clients {
  display: flex;
  justify-content: center;
}

.client-item {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  color: rgba(175, 177, 184, 1);
  border: 1px solid;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-item:hover,
.client-item:focus {
  color: var(--accent-color);
}

.client + .client {
  margin-left: 30px;
}

.client-icon {
  padding: 0;
  margin: 0;
  fill: currentColor;
}

.address-link {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-white-color);
}

.main-footer .container.flex {
  align-items: baseline;
}

.main-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: auto;

  background-color: var(--slave-bcg-color);
}

.address {
  width: 231px;
}

.address-footer {
  display: flex;
  flex-direction: column;
}

.address-item + .address-item {
  margin-top: 9px;
}

.social {
  margin-left: 70px;
}

.social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0px 0px 20px 0px;

  color: var(--primary-white-color);
}

.social-links {
  padding: 0;
  margin: 0;
}

.social-link + .social-link {
  margin-left: 10px;
}

.social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 0;
  border-radius: 50%;
  fill: var(--primary-white-color);
  background-position: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item:hover,
.social-item:focus {
  background-color: var(--accent-color);
}

.social-icon {
  margin: 0;
  padding: 0;
}

.submit {
  margin-left: 93px;
}

.submit-form {
  display: flex;
  flex-direction: row;
}

.submit-form--title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0px 0px 20px 0px;

  color: var(--primary-white-color);
}

.submit-form--input,
.submit-form--input:focus {
  width: 358px;
  height: 50px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  padding: 15px 16px;
  background-color: transparent;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.submit-form--input::placeholder {
  background-color: transparent;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.submit-form--button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  padding: 10px 0;
  margin-left: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--accent-color);
  letter-spacing: 0.06em;
  border: none;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-form--button:hover,
.submit-form--button:focus {
  background-color: rgba(24, 140, 232, 1);
}

.submit-form--icon {
  margin-left: 10px;
  fill: var(--primary-white-color);
}
